div#categories h3 {
  margin: 0px 0px 6px 0px;
}

div#category-name {
  background-color: #EEEEEE;
  padding: 15px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid #DDDDDD;
  position:relative
}

div#category-name label, #add-term-wrapper label {
  width: 120px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

input#category_submit {
  margin-left: 10px;
  margin-right: 12px;
}

input#term_submit {
  margin-left: 10px;
  border: 1px solid #CCC;
}

#new-term-link {
  margin-left: 8px;
}

fieldset.terms {
  margin-top: 8px;
}

#terms-table_wrapper {
  margin-top: 8px;
}

#terms-table_wrapper tr th div {
  text-align: left;
}

table#terms-table tr td {
  vertical-align: middle;
}

form#new_queries_term {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

#add-term-wrapper {
  height: 31px;
  vertical-align: top;
  position: relative;
}

#add-term-wrapper form {
  height: 31px;
}

label.category-terms-heading {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-bottom: 8px;
}

#add-term-wrapper input#term-submit {
  margin-left: 6px;
}

input#queries_category_name, 
#add-term-wrapper input#term_name {
  margin-right: 10px;
  width: 250px;
}

#add-term-wrapper .form-message {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-left: 10px;
  padding: 0px 6px;
  text-align: center;
}

#add-term-wrapper .form-message#loading {
  height: 31px;
  width: 31px;
  position: absolute;
  background-image: url('/images/spinner.gif');
  background-repeat: no-repeat;
}

#add-term-wrapper .form-message#error {
  color: #FFFFFF;
  background-color: #E7595C;
  border: 1px solid #CC6666;
  height: 31px;
  line-height: 31px;
}

#add-term-wrapper ul#ui-autocomplete li#ui-menu-item {
  padding: 3px;
  border: 1px solid red;
}

fieldset.terms {
  margin-top: 15px;
}

div#categories fieldset {
  position: relative;
}

.warning-message {
  position: absolute;
  top: 95px;
  left: 320px;
  width: 250px;
  height: 55px;
  z-index: 2;
  background: #111;
  background: rgba(0, 0, 0, .8);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(40, 40, 40, .9)), to(rgba(0, 0, 0, .8)));
  color: white;
  padding: 0;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid black;
  font: 14px Helvetica, sans-serif;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
  
  -webkit-text-stroke: 1px transparent;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .6);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

.warning-message-top  {
  height: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border-top: 1px solid rgba(255, 255, 255, .25);
}

.warning-message  p {
  text-align: center;
  margin: 0px 10px;
  padding-bottom: 12px;
}

.warning-message .bottom-arrow {
  position: absolute;
  left: 110px;
}

.warning-message .ui-icon {
  float: left;
  margin: 0px 0px 0px 15px;
  background-image: url('/stylesheets/images/ui-icons_ffeb2f_256x240.png');
}

.field_with_errors {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

#add-term-wrapper .tooltip-help {
  margin-left: 6px;
  margin-right: 4px;
}

div.qtip-static {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-top: 10px;
}

p.name-display {
  margin-right: 10px;
}

.ui-menu {
  margin-left: -10px;
}

#message-container {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 250px;
  height: 31px;
  position: absolute;
  top: 0px;
  right: 0px;
}