/* override bootstrap */
label {
  float: none;
  width: auto;
  text-align: left;
  color: #999;
  font-size: 14px;
}

.label {
  text-transform: capitalize;
  background: none;
  font-weight: normal;
  font-size: 14px;
}

select {
  width: auto;
}
table {
  width: auto;
}
table td {
  border-top: none;
  width: auto;
}

/* reset fieldset  */
fieldset.gray {
  border:  1px solid #DDD;
  padding: 15px;
  border-radius: 10px;
  -webkit-border: radius: 10px;
  -moz-border-radius: 10px;
}