.dataTables_wrapper {
  margin-top: 10px;
}

button.actions .ui-button-text {
  padding: 3px 5px 2px 22px;
}

/* Sub-navigation */
.ui-tabs-vertical .ui-tabs-nav { 
  padding: 0px;
  float: left; 
  background: none;
  padding: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: none;
  margin-top: 15px;
}

.ui-tabs-vertical .ui-tabs-nav li { 
  clear: left; 
  margin: 0px;
  padding: 0px;
  float: none;
  border-width: 0px;
  height: 1px;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { 
  padding-bottom: 0px; 
  padding-right: 0px; 
  border-right-width: 0px; 
}

.ui-tabs-vertical .ui-tabs-nav li a { 
  width: 80px;
  color: #333;
  height: 20px;
  line-height: 20px;
}

.ui-tabs-vertical .ui-tabs-panel { 
  padding: 1px; 
  float: left; 
  width: 820px;
  margin-left: -2px;
}

.ui-tabs-vertical .ui-tabs-panel fieldset {
  min-height: 100px;
  font-size: 14px;
}

.ui-tabs-vertical li a {
  -webkit-border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
}

.ui-tabs-vertical li.ui-tabs-selected a {
  border-top: 1px solid #DDDDDD;
  border-left: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  background-color: #FFFFFF;
}

.ui-tabs-vertical li.ui-state-hover a {
  background-color: #EAEAEA;
  border-color: transparent;
  border-right: 1px solid #DDDDDD;
}

.ui-tabs-vertical li.ui-state-active.ui-state-hover a {
  background-color: #FFFFFF;
  border-color: #DDDDDD;
  border-right: 1px solid #FFFFFF;
  background-image: none;
}

.ui-tabs-vertical li.ui-state-active,
.ui-tabs-vertical li.ui-state-default {
  background: none;
  border: none;
}

.DataTables_sort_wrapper {
  white-space: nowrap;
}

td.date-column {
  white-space: nowrap;
}
