#content-inner h3 {
  margin-top: 0px;
}

.warning-message {
  display: none;
}

#select-query-version {
  font-size: 18px;
}

#heading {
  margin-top: 4px;
}

.dataTables_filter input {
  width: 225px;
}

.create-link {
  margin-left: 4px;
}

span#job-close {
  padding-left: 6px;
}

button.edit {
  height: 22px;
}

button.edit.ui-button .ui-button-text {
  line-height: 13px;
}

#tabs {
  margin-top: 15px;
}

#job {
  background-color: #EEE;
  padding: 5px;
  margin-bottom: 15px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; 
  border-radius: 3px;
}

#job table  {
  width: 100%;
}

#job-change {
  background-color: transparent;
  background: hsla(214, 0%, 0%, .15);
  background-clip: padding-box;
  -webkit-box-shadow: #000 0.1em 0.1em 0.5em inset;
  -moz-box-shadow: #000 0.1em 0.1em 0.5em inset;
  box-shadow: #000 0.1em 0.1em 0.5em inset;
  height: 108px;
  text-align: center;
}

#job-change div {
  padding-top: 17px;
}

#job-inner {
  position: relative;
  z-index: 1;
  border: 1px solid #CACACA;
  border-radius: 1px;
  background-color: #FFFFFF;
  padding: 2px 7px;
  background-color: #FFFFFF;
}

#job-detail tr td, #job-status tr td {
  line-height: 22px;
  height: 22px;
  padding: 4px 4px 4px 4px;
}

#job-detail {
  width: 100%;
}

#job-detail tr td.column-label {
  vertical-align: top;
}

.column-value {
  color: #000000;
  vertical-align: top;
  width: 210px;
}

span.value {
  color: #000;
}

td.stats span.label {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-right: 10px;
}

.treeview li.name.lastExpandable {
  background: url('/javascripts/jquery-treeview/images/plus.gif') 0px 9px no-repeat;
}

.treeview li.name.lastCollapsable {
  background: url('/javascripts/jquery-treeview/images/minus.gif') 0px 9px no-repeat;
}

ul#seed-list {
  margin-top: -3px;
}

div#query {
  position: relative;
}

#query label {
  padding-right: 4px;
  display: block;
}

#name {
  padding-bottom: 6px;
}

#name label {
  display: block;
}

#queries_query_name {
  width: 640px;
  margin-right: 20px;
}

@-moz-document url-prefix() { 
  #queries_query_name { 
    width: 410px;
  } 
}

div#matching, div#notmatching {
  padding: 10px 0px;
}

button.actions {
  margin-right: 5px;
}

button.actions span.ui-icon {
  left: 3px;
}

div#name p {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  font-size: 16px;
  color: #545454;
  margin: 0px;
  padding: 6px 0px 0px 0px;
  max-width: 650px;
}

#query-matching, #query-notmatching {
  margin: 4px 10px;
  padding: 0px;
}

#query-matching {
  padding-top: 4px;
}

#query-matching div, #query-notmatching div {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 750px;
}

#query-matching span.container, #query-notmatching span.container {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 0px;
  padding: 0px;
}

#query-matching span.container table, #query-notmatching span.container table {
  max-width: 740px;
  padding: 0px;
  margin: 0px;
}

#query-matching span.label, #query-notmatching span.label {
  color: black;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 100px;
  float: left;
  padding: 3px 0px 0px 0px;
}

#query-preview {
  padding: 5px 0px;
  margin-top: 15px;
  border: 1px solid #CBDEF3;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; 
  border-radius: 10px;
  background-color: #ddeefe;
}

#query-matching span.type, #query-notmatching span.type {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #2b3840;
  font-size: 13px;
  font-family: "Lucida Grande", arial, sans-serif;
  text-shadow: 0 1px 1px #fff;
  padding: 2px 7px 2px 10px;
  -webkit-border-top-left-radius: 12px;
  -webkit-border-bottom-left-radius: 12px;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-bottomleft: 12px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: 0 1px 1px #e4edf2;
  -webkit-box-shadow: 0 1px 1px #e4edf2;
  -moz-box-shadow: 0 1px 1px #e4edf2;
  margin: 0px;
}

#query-matching span.term, #query-notmatching span.term {
  background-color: #ddeefe;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddeefe), to(#bfe0f1));
  border: 1px solid #acc3ec;
  border-top-color: #c0d9e9;
}

#query-matching span.category, #query-notmatching span.category {
  background-color: #60EB58;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B6FFB0), to(#90EB87));
  border: 1px solid #6ED667;
  border-top-color: #7AEB72;
}

#query-preview code {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  background: white;
  border-top: 1px solid #CCC;
  border-right: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  padding: 2px 6px;
  margin: 0px 4px 0px 0px;
}

div#update {
  width: 375px;
  float: left;
}

div#results tbody tr td {
  vertical-align: middle;
  height: 28px;
}

#detail-buttons {
  margin-bottom: 10px;
}

#toolar-query-info {
  background-color: #FFF;
  padding: 5px;
  border: 1px solid #DDD;
  margin-bottom: 8px;
}

#toolar-query-info #toolbar-label {
  margin-right: 10px;
}

#toolar-query-info #toolbar-value {
  font-weight: normal;
}

#results fieldset #results-wrap {
  position: relative;
  z-index: 1;
  width: 900px;
  overflow: hidden;
}

#results-nav h3 {
  margin-top: 6px;
}

h3#query-settings {
  margin-right: 12px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

h3#search-history-heading {
  margin-top: 16px;
}

#search-history tr td, #queries-table tr td {
  vertical-align: middle;
  height: 26px;
}

.dataTables_wrapper tr th {
  text-align: left;
}

#results-inner {
  width: 2000px;
  max-height: 410px;
}

.dataTables_length {
  width: 20%;
}

/* Legend */
#legend {
  padding: 8px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  border-radius: 5px;
  -webkit-border: radius: 5px;
  -moz-border-radius: 5px;
  background-color: #E9E9E9;
  border: 1px solid #D4D4D4;
  position: absolute;
  top: 0;
  right: 0;
}

ul.legend {
  background-color: #E9E9E9;
	list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

ul.legend li {
  float: left;
  margin: 1px 4px 0px 0;
}

ul.legend li.as-selection-item {
  cursor: pointer;
}

ul.legend li.as-selection-item:hover {
  color: #279EBF;
  box-shadow: 0 4px 4px #e4edf2;
  -webkit-box-shadow: 0 4px 4px #e4edf2;
  -moz-box-shadow: 0 4px 4px #e4edf2;
}

ul.legend li.label {
  margin-top: 5px;
}

li.as-selection-item, ul.as-selections li.as-selection-item {
  color: #2b3840;
  font-size: 13px;
  font-family: "Lucida Grande", arial, sans-serif;
  text-shadow: 0 1px 1px #fff;
  background-color: #ddeefe;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddeefe), to(#bfe0f1));
  border: 1px solid #acc3ec;
  border-top-color: #c0d9e9;
  padding: 2px 7px 2px 10px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  box-shadow: 0 1px 1px #e4edf2;
  -webkit-box-shadow: 0 1px 1px #e4edf2;
  -moz-box-shadow: 0 1px 1px #e4edf2;
}

li.as-selection-item a.as-close {
  float: right;
  margin: 1px 0 0 7px;
  padding: 0 2px;
  cursor: pointer;
  color: #5491be;
  font-family: "Helvetica", helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 1px 1px #fff;
  -webkit-transition: color .1s ease-in;
}

li.as-selection-item.selected {
  border-color: #6ED667;
}

li.as-selection-item a.as-close,
li:hover.as-selection-item a.as-close,
li.as-selection-item a:active.as-close {
  color: #4d70b0;
}

ul.as-selections li.as-selection-item.category, li.as-selection-item.category {
  background-color: #60EB58;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B6FFB0), to(#90EB87));
  border: 1px solid #6ED667;
  border-top-color: #7AEB72;
}

ul.as-selections li.as-selection-item.selected  {
	border-color: #acc3ec;
}

ul.as-selections li:hover.as-selection-item.category {
	background-color: #95F48B;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#AAEFA5), to(#87DE7F));
  border: 1px solid #7BCB74;
  border-top-color: #84D97C;
}

ul.as-selections li.as-selection-item.category a.as-close {
  color: #66AD61;
}

li.as-selection-item.category a.as-close,
li:hover.as-selection-item.category a.as-close,
ul.as-selections li:hover.as-selection-item.category a.as-close {
	color: #538C4F;
}

ul.as-selections li.as-selection-item.category.selected {
	border-color: #2A8823;
}

ul.as-selections li.as-selection-item a:hover.as-close,
ul.as-selections li.as-selection-item.category a:hover.as-close {
	color: darkred;
}

a#revision-dropdown {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  line-height: 18px;
  padding: 2px 4px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  width: 122px;
}

a#revision-dropdown .ui-icon {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-bottom: -3px;
  margin-left: -3px;
}

#revision-list-container {
  position: absolute;
  top: -2px;
  left: 85px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 0px;
  padding: 0px 0px 0px 24px;
}

#revision-list-container li {
  position: relative;
  list-style-type: none;
}

#revision-list {
  display: none;
  position: absolute;
  top: 22px;
  max-height: 275px;
  background: #FFFFFF;
  border: 1px solid #CCC;
  overflow: auto;
  z-index: 4;
  width: 128px;
  margin: 0px;
  padding: 0px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

#revision-list li {
  list-style-type: none;
  margin: 0;
  border-top: 1px solid #E2E2E2;
}

#revision-list li:hover {
  background-color: #EAEAEA;
}

#revision-list li:first-child {
  border-top: none;
}

#revision-list li a {
  display: block;
  padding: 4px 6px;
}

