#job-info {
}

#job-info tr td {
  vertical-align: middle;
  line-height: 28px;
  padding: 4px;
}

button.actions {
  height: 20px;
  width: 24px;
  margin-right: 5px;
}

button.actions span.ui-icon {
  left: 3px;
}

.column-value {
  color: #000000;
}
