.seed-list-form tr td {
  vertical-align: middle;
  line-height: 28px;
  padding: 4px;
}

#seed-list-urls_wrapper {
  width: 600px;
  margin-top: 20px;
}

.DataTables_sort_wrapper {
  text-align: left;
}