<p id="notice"><%= notice %></p>

<p>
  <b>Localidad:</b>
  <%= @location.name %>
</p>


<%= link_to 'Editar', edit_admin_location_path(@location) %> |
<%= link_to 'Volver', admin_root_path(:anchor => 'locations') %>
