<p id="notice"><%= notice %></p>

<p>
  <b>Tipo de inmueble:</b>
  <%= @type.name %>
</p>


<%= link_to 'Editar', edit_admin_type_path(@type) %> |
<%= link_to 'Volver', admin_root_path(:anchor => 'types') %>
