body {
  padding-top: 0;
  background-color: white;
}

#user_new {
  background-image: url(/images/logo.gif);
  margin:  0px;
}

#user_new .ui-button {
  margin: 10px;
  width: auto;
}

.topbar .container {
  height: 40px;
}

.topbar .container a.brand {
  background-image: url(/images/logo-ie6.png);
  display: block;
  background-position: center;
  zoom: 1;
}

.topbar a {
  padding-top: 19px;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: bold;
}

.account_links ul {
  margin-bottom: 0px;
  padding-right: 10px;
}

.account_links ul li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

.account_links ul li a {
  display: inline-block;
}

.sf-menu ul {
  display: block;
}

.sf-menu li {
  z-index: 100000;
}

.main #content, .main #content-inner, #breadcrumb {
  width: 957px;
  margin: 0px;
}

#breadcrumb ul li {
  display: inline;
}

#breadcrumb ul li a div {
  display: inline-block;
}

#breadcrumb a {
  display: inline-block;
}

.tabs ul {
  padding-bottom: 0px;
}

.tabs li {
  display: inline;
  margin-right: 2px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.tabs a {
  border: 1px #DDD solid;
  position: relative;
  top: 2px;
}

.tabs .active a {
  border-bottom:  2px solid white;
}

.tabs li a {
  display: inline-block;
  padding: 10px;
  margin: 0px;
  margin-bottom: -2px;
}

#reports-table-wrapper .button_to input {
  width: auto;
}

#new-client-request-fields input {
  display: inline-block;
  line-height: 24px;
  height: 24px;
}

label {
  vertical-align: middle;
}