#content {
  position: absolute;
  right: 50%;
  bottom: 40%;
  border: 0 !important;
}

#content-inner {
  position: relative;
  left: 50%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  background: none;
  border: none;
}

#login-wrapper {
  border: 1px solid #E4E4E4;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#user_new {
  width: 350px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding: 70px 30px 10px 35px;
  background-color: whiteSmoke;
  color: #797979;
  border: 2px solid white;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-image: url('/images/logo.png');
  background-repeat: no-repeat;
  background-position: 137px 14px;
}

#user_new fieldset {
  padding: 0;
}

#user_new .error {
  color: #d44;
  margin: -6px 0 8px 100px;
}

form .input {
  margin-left: 100px;
}

form label {
  width: 80px;
}

input[type=submit] {
  margin-top: 20px;
}
