<div>
    <p><%= property.full_address %></p>
    <p><%= property.type.name %> en <%= property.operation.name %></p>
    <div style="text-align: center">
        <p>Agregar a favoritos |  <%= link_to 'Ver detalles', "/properties/#{property.id}" %></p>
    </div>
</div>