#search-component {
  text-align: center;
  margin: 5px 0px 8px 0px;
}

label, .label, table th {
  float: none;
  color: #999;
  font-size: 14px;
  font-weight: normal;
}

#search-form {
  width: 800px;
  margin: 0px auto;
}
#submit {
  width: 100px;
  margin: 0px auto;
}
/* 
#left-fields {
  float: left;
  width: 600px;
}
#right-fields {
  float: right;
  width: 200px;
  vertical-align: middle;
} 
*/
#search-fields input,
#search-fields textarea {
  width: 400px;
}

#search-fields textarea {
  height: 80px;
}

#search-fields table {
  width: 600px;
  margin: 5px auto;
}
#search-fields table td {
  padding: 2px 8px;
  vertical-align: middle;
}

table td, table tbody th {
  border: none;
}

td.label {
  text-align: right;
  background-color: white;
  text-transform: capitalize;
}

td.type_label {
  text-align: left;
}

#search-results-table {
  word-wrap: break-word;
  border-collapse: collapse;
  margin: 0px auto;
}

#search-results {
  text-align: center;
}

table#search-results-table td {
  padding: 5px 8px;
  border: 1px solid black;
}

table#search-results-table tr:first-child {
  background-color: #666666;
  color: #CCCCCC;
}

table#whois-contacts-table th.center {
  text-align: center;
}

table#whois-contacts-table input,
table#whois-contacts-table textarea {
  width: 200px;
}

table#whois-contacts-table textarea {
  height: 75px;
}

table#whois-contacts-table th {
  vertical-align: middle;
}
