label {
  padding-left: 12px;
}

fieldset.inputs .input label,
fieldset.inputs .report-row .input label {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 212px;
  padding-right: 8px;
}

fieldset.inputs .input {
  padding: 8px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

fieldset.inputs ol {
  display: none;
}

fieldset.inputs legend span {
  padding-left: 12px;
  font-size: 16px;
}

fieldset.inputs legend:hover {
  background-color: #EDEDED;
}

fieldset.inputs legend {
  background-color: #FFFFFF;
  border-top: 1px solid #CCCCCC;
  display: block;
  width: 100%;
  padding: 8px 0px;
  cursor: pointer;
}

fieldset.inputs legend.expanded,
div.section-footer {
  border-top: 1px solid #0D4363;
  border-bottom: 1px solid #0D4363;
  color: #FFFFFF;
  background: rgb(0,135,219); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(0,135,219,1) 0%, rgba(36,128,183,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,135,219,1)), color-stop(100%,rgba(36,128,183,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,135,219,1) 0%,rgba(36,128,183,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,135,219,1) 0%,rgba(36,128,183,1) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(0,135,219,1) 0%,rgba(36,128,183,1) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0087db', endColorstr='#2480b7',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, rgba(0,135,219,1) 0%,rgba(36,128,183,1) 100%); /* W3C */
}

div.section-footer {
  height: 12px;
}

fieldset.inputs li.commit,
fieldset.buttons li.commit {
  display: block;
  width: 100%;
  margin: 14px 0px;
  text-align: right;
}

fieldset.inputs .stringish input,
fieldset.inputs .text textarea {
  width: 280px;
}

fieldset.inputs .number input {
  width: 100px;
  margin-right: 180px;
}

fieldset.inputs .text textarea {
  height: 150px;
}

fieldset.inputs legend a {
  float: right;
  padding-right: 8px;
}

/* Report layout */
.report-header {
  display: block;
  padding: 8px 0px;
  background-color: #5E5E5E;
  color: #EDEDED;
}

.report-header ul {
  width: 100%;
}

.report-row {
  overflow: hidden;
}

.report-row li {
  float: left;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.report-row li.col1 {
  width: 540px;
}

.report-row li.col2 {
  width: 60px;
}

.report-row li.col3 {
  width: 300px;
}

.report-header li.col1 {
  width: 240px;
  padding-left: 12px;
}

.report-header li.col3 {
  width: 60px;
}

.report-header li.col2,
.report-header li.col4 {
  width: 300px;
}

.report-row li .editor {
  float: left;
}

.report-row li .editor div.editor-container .nicEdit-panelContain,
.report-row li .editor div.editor-container {
  width: 288px !important;
}

.global_boarding_risk select {
  width: 60px;
}

.report-row-gray {
  background: #EAEAEA;
  padding: 4px 0px;
  overflow: hidden;
}

.ui-buttonset .ui-button {
  margin-right: -5px;
  margin-bottom: 12px;
}

fieldset.inputs li h3 {
  margin: 0;
  padding: 8px 12px 6px 12px;
  margin: 4px 0px;
  font-weight: normal;
  background-color: #F2F2F2;
  color: #737373;
  border-bottom: 1px dotted #dddddd;
  border-top: 1px dotted #dddddd;
}

.multi-input-fields {
  position: relative;
}

.multi-input-fields.even {
  background: #EAEAEA;
}

.multi-input-fields:first-child .multi-input-fields-remove {
  display: none;
}

.multi-input-fields-remove,
.multi-input-fields-add {
  cursor: pointer;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.multi-input-fields-add {
  margin-left: 231px;
  margin-top: 6px;
}

.multi-input-fields-remove a {
  color: #D00;
}

.remove-link {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 100px;
  position: absolute;
  top: 10px;
  left: 530px;
}

