#fancybox-content h2 {
  text-align: center;
}

#fancybox-content label {
  float: none;
  color: #999;
  font-size: 14px;
  font-weight: bold;
  padding-right: 6px;
  display: inline-block;
  width: 120px;
}

#fancybox-content ul {
  margin: 5px;
}

#fancybox-content li {
  padding-top: 2px;
  padding-bottom: 2px;
}

#fancybox-content form {
  margin-top: 7px;
}

#fancybox-content input[type="text"] {
  width: 170px;
}

#fancybox-content input[type="submit"] {
  display: block;
  width: 123px;
  margin: 7px auto;
}

table .icon {
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 20px;
  margin: 5px;
}

/* bootstrap overrides */
table td {
  vertical-align: middle;
}

table form {
  margin-bottom: 0px;
}

#requests-table select {
  width: auto;
  text-transform: capitalize;
}

#filter-form {
  float: right;
}