/* Header remapping CSS */

div.headers {
    overflow: auto;
}

div.header_block {
    margin: 0 0 10px 10px;
    float: left;
    padding: 5px 5px 5px 5px;
    border: 2px dotted #555555;
    display: inline-block;
}

div.header_block p {
    font-family: monospace;
    text-transform: capitalize;
    font-size: 12pt;
    text-align: center;
}

#identified_headers div.header_block {
    background-color: #FFF6BC;
}

#unidentified_headers div.header_block {
    background-color: #CCEAFE;
}

div.validation_fail {
    background-color: #FF7578 !important;
}