fieldset.single-line span.legend {
  width: 70px;
}

.subheading {
  margin-top: -15px;
  font-size: 13px;
  color: #AAAAAA;
}

.column-left {
  margin-top: 20px;
}

#spreadsheet-statistics th {
  background-color: #EEEEEE;
  text-align: left;
}

form {
  margin-bottom: 0px;
}

#spreadsheet-actions label {
  width: 35px;
}

#spreadsheet-actions label.radio {
  width: inherit;
}

#spreadsheet-actions textarea {
  font-size: 13px;
}

#export_date_from,
#export_date_to {
  width: 113px;
}

#spreadsheet_organization_id,
#export_organization_id,
#merchants_spreadsheet_organization_id {
  width: 150px;
  margin-top: 3px;
}

#spreadsheet_project_id,
#export_project_id {
  width: 150px;
  margin-top: 3px;
}

#spreadsheets-list {
  margin-top: 20px;
}

#spreadsheet_submit,
#export_submit {
  width: 100px;
  margin-top: 3px;
}

fieldset.single-line {
  margin: 0 0 10px 0;
  padding: 0px;
  background-color: white;
  color: #999;
  border:  1px solid #DDD;
  font-size; 13px;
}

fieldset.single-line span.legend {
  float: left;
  height: 35px;
  margin-right: 10px;
  padding-left: 10px;
  line-height: 33px;
  background-color: #EEE;
  background-image: url('/images/breadcrumb_separator.gif');
  background-repeat: no-repeat;
  background-position: 90% 50%;
}