<p id="notice"><%= notice %></p>

<p>
  <b>Tipo de operaci&oacute;n:</b>
  <%= @operation.name %>
</p>


<%= link_to 'Editar', edit_admin_operation_path(@operation) %> |
<%= link_to 'Volver', admin_root_path(:anchor => 'operations') %>
