<% content_for :javascripts do %>
  <%= javascript_include_tag 'https://www.google.com/jsapi' %>
<% end %>

<div id="content-inner">
  <h1><%= @title %></h1>
  <div id="chart" style="text-align: center; width: 700px; height: 400px;"></div>
  <%= render_chart(@chart, 'chart', 'ES-AR') unless @chart.nil? %>
</div>