<p id="notice"><%= notice %></p>

<p>
  <b>Tipo de punto de inter&eacute;s:</b>
  <%= @poi_type.name %>
</p>


<%= link_to 'Editar', edit_admin_poi_type_path(@poi_type) %> |
<%= link_to 'Volver', admin_root_path(:anchor => 'poi_types') %>
