<div class='footer'>
  <footer>    
    <div class="copyright">Copyright &copy; <%= Time.now.year %>
      Click Inmobiliario.  Todos los derechos reservados. - <a href="mailto:info@click-inmobiliario.com">Contacto</a></div>
  </footer>
</div>